/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../pacifico-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../pacifico-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../pacifico-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../pacifico-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../pacifico-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../pacifico-v16-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}
body {
	    font-family:Pacifico;

}
nav ul {

display:flex;
	flex-direction:row;
	flex-wrap:wrap;

}	
	
header {
  list-style-type: none;
  	display:flex;
	margin-top:0;
  height:120px;
  overflow: hidden;
  background-color: #ADD8E6;
}
.rotateimg180:hover{
	-webkit-transition-duration: 1s; 
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
header img {
	
	height:50px;
	width:60px;
	margin: 15px 1px 1px 15px;
	
}

h1{
    font-family:Pacifico;

}

.Username {
	margin-left:660px;
	margin-top:20px;
	
}
.Password {
	margin-left:660px;
}
	

.first {
	
	font-size:13px;
	color:rgb(80,89,94);
	width:500px;
	height:20px;
	margin-left:-510px;
	margin-top:5px;
	
}
.second{
	
	font-size:13px;
	color:rgb(80,89,94);
	width:500px;
	height:20px;
	margin-left:-510px;
	margin-top:6px;
	
}
.button{
	font-size:13px;
	color:rgb(80,89,94);
	width:650px;
	height:25px;
	margin-left:650px;
	margin-top:4px;
	background-color:rgb(236,236,236);
}

.button:hover{
	background-color:rgb(68,136,246);
	color:white;
}


.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

article p{
  content: "";
  display:block;
  clear: both;
  text-align:justify;
  border:1px solid black;
  border-radius:20px;
  height:120px;
  width:40%;
  margin-left:10px;
  margin-top:-65px;
  background:#FFC83F;
  
  float: left;
  padding: 30px;
  padding-top:50px;
}

article p:nth-of-type(2){
  content: "";
  display:block;
  clear: both;
  text-align:center;
  border:1px solid black;
  border-radius:20px;
  height:  height:120px;
  width:65%;
  margin-left:10px;
  margin-top:-70px;
  background: #878729;
  
  float: left;
  padding:17px;
  padding-top:70px;
}
article p:nth-of-type(3){
  content: "";
  display:block;
  clear: both;
  text-align:center;
  border:1px solid black;
  border-radius:20px;
  height:180px;
  width:20%;
  margin-left:695px;
  margin-top:-418px;
  background:#a2854c;
  
  float: left;
  padding: 20px;
  padding-top:40px;
}


.images img:first-of-type {
	margin-top:330px;
	margin-left:-650px;
	height:150px;
	width:150px;
	padding:20px;
}
.images img:nth-of-type(2) {
	margin-top:10px;
	margin-left:1px;
	height:150px;
	width:150px;
	padding:20px;
}
.images img:nth-of-type(3) {
	margin-top:10px;
	margin-left:1px;
	height:150px;
	width:150px;
	padding:20px;
}
.images img:nth-of-type(4) {
	margin-top:10px;
	margin-left:1px;
	height:150px;
	width:150px;
	padding:20px;
}
.images img:nth-of-type(5) {
	margin-top:10px;
	margin-left:1px;
	height:150px;
	width:150px;
	padding:20px;
}